streamlit
python-telegram-bot==12.3.0
python-dotenv==0.19.2
pip==22.2.2
spotdl==3.9.6
pytube
ytmusicapi
spotipy
requests
ffmpeg
yt-dlp==2022.9.1
youtube_dl
git+https://debian.pkgs.org/11/debian-main-arm64/ffmpeg_4.3.4-0+deb11u1_arm64.deb
