pip==22.2.2
streamlit
python-telegram-bot==12.3.0
python-dotenv==0.19.2
spotdl==3.9.6
pytube
ytmusicapi
spotipy
requests
yt-dlp==2022.9.1
youtube_dl
ffmpeg
git+https://salsa.debian.org/multimedia-team/ffmpeg.git@heroku##ffmpeg
